extends base

mixin item(href, icon, text, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${href}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md 會員狀態
                    form.form.form-user-data
                        .form__group
                            label.form__label(for='name') 姓名
                            input#name.form__input(type='text', value=`姓名`, required)
                        .form__group.ma-bt-md
                            label.form__label(for='email') Email
                            input#email.form__input(type='email', value=`Email`, required)
                        .form__group.ma-bt-md
                            label.form__label(for='phone') 聯絡電話
                            input#phone.form__input(type='email', value=`聯絡電話`, required)
                        .form__group.ma-bt-md
                            label.form__label(for='address') 通訊地址
                            input#address.form__input(type='text', value=`通訊地址`)
                        .form__group.ma-bt-md
                            label.form__label(for='job') 現職
                            input#job.form__input(type='text', value=`現職`)
                        .form__group.ma-bt-md
                            label.form__label(for='education') 學歷
                            input#education.form__input(type='text', value=`學歷`)
                        

                        .form__group.right
                            button.btn.btn--small.btn--green 儲存
                
                
